@import '@styles/variables.less';

.cards-section {
  color: @color-text-primary;
  margin: 1rem 0.5rem;

  .cards__sort {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .cards__sort-button {
    display: flex;
    width: 100%;
    padding: 1rem;
    background-color: @color-gray-light-bright;
    border: 0.0625rem solid @color-gray-light;
    border-radius: 0.25rem;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      background-color: @color-blue-light;
    }

    &.active {
      background-color: @color-blue-light;
      font-weight: bold;
    }
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .card {
    background-color: @color-gray-light-bright;
    padding: 1rem;
    border-radius: 0.25rem;

    &:hover {
      background-color: @color-blue-light;
    }
  }

  .card__title {
    display: block;
    width: 100%;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .card__row {
    display: flex;
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
  }

  .card__label {
    margin-right: 0.25rem;
    font-weight: bold;
    color: @color-text-muted;
  }

  .sort-icon {
    width: 0.5rem;
    opacity: 0;
    transform: rotate(180deg);
    margin-left: 0.25rem;

    &--active {
      opacity: 1;
    }

    &--desc {
      transform: rotate(0deg);
    }
  }
}

.mobile-wide({
  .cards-section{
    .cards__sort-button {
      width: calc(50% - 0.25rem);
    }
  
    .card__data {
      display: flex;
      justify-content: space-between
    }
  }
});
