@mobile-max: 768px;
@desktop-min: 769px;
@wide-min: 1201px;

.mobile(@content) {
  @media (max-width: @mobile-max) {
    @content();
  }
}

.desktop(@content) {
  @media (min-width: @desktop-min) {
    @content();
  }
}

.wide(@content) {
  @media (min-width: @large-min) {
    @content();
  }
}
